body {
  width: 100vw;
  height: 100vh;
  font-size: 1.5rem;
  position: relative;
  overflow-x: hidden;
  /* Demo CSS */
}
body {
  background: #fff;
  padding: 50px;
  background: url(https://images.pexels.com/photos/325185/pexels-photo-325185.jpeg?auto=compress&cs=tinysrgb&dpr=2&w=1920) no-repeat center center / cover;
  /* Nav doc CSS */
}
body header {
  margin-bottom: 50px;
  box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.15);
  border-radius: 6px;
}
body header .navbar {
  border-radius: 6px;
}
@media (min-width: 1300px) {
  body header, body main {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
  }
}
.navbar-doc {
  /* Main CSS */
}
.navbar-doc table {
  border-collapse: collapse;
  width: 100%;
  background: transparent;
  box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.15);
}
.navbar-doc table tr th, .navbar-doc table tr td {
  text-align: left;
  padding: 15px;
}
.navbar-doc table tr:nth-child(odd) th, .navbar-doc table tr:nth-child(odd) td {
  background: #f0f5f7;
}
.navbar-doc table tr:nth-child(even) td {
  background: #e9f0f3;
}
.navbar-doc table tr:first-child th:first-child {
  border-top-left-radius: 5px;
}
.navbar-doc table tr:first-child th:last-child {
  border-top-right-radius: 5px;
}
.navbar-doc table tr:last-child td:first-child {
  border-bottom-left-radius: 5px;
}
.navbar-doc table tr:last-child td:last-child {
  border-bottom-right-radius: 5px;
}
.navbar-doc table tr:not(:first-child) {
  border-top: 1px solid #e5ecef;
}
.navbar-doc code {
  background: #aed2f5;
  border-radius: 3px;
  color: #000;
  line-height: 1;
  font-size: 1.2rem;
  padding: 1px 4px;
}
.navbar-doc p {
  font-size: 1.4rem;
  line-height: 1.5;
}
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 50px;
  position: relative;
  transition: 0.3s linear;
}
.navbar ul {
  list-style: none;
}
.navbar ul a {
  text-decoration: none;
}
.navbar .navbar-toggler, .navbar .nav-link, .navbar .utils-search {
  color: ;
}
.navbar .navbar-utils > * {
  cursor: pointer;
}
.navbar .btn-search {
  font-size: 1.5rem;
  background: transparent;
  outline: none;
  border: none;
  color: inherit;
  cursor: pointer;
}
.navbar-nav {
  display: flex;
  list-style: none;
}
.navbar-nav .nav-link {
  padding: 5px;font-size:16px!important;
  text-decoration: none;
  font-size: 0.9em;
  font-weight: 400;
  display: block;
  transition: 150ms ease;
}
.navbar-nav .nav-item {
  margin: 0 10px;
  position: relative;
}
.navbar-nav > .nav-item:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  background: ;
  bottom: -16px;
  transition: 400ms ease;
  transform: scaleX(1.5);
  opacity: 0;
}
.navbar-nav > .nav-item:hover:after {
  transform: scaleX(1);
  opacity: 1;
}
.navbar-toggler {
  padding: 0.1rem 0.45rem;
  cursor: pointer;
  font-size: 1.5rem;
  background: none;
  outline: none;
  border: 1px solid ;
  border: none;
  border-radius: 3px;
  transition: 0.15s linear;
  display: none;
  margin-left: auto;
  margin-right: 20px;
  /* Navbar options (bg options) */
}
.navbar-toggler:hover, .navbar-toggler:focus {
  box-shadow: 0 0 0 2px rgba(0, 0, 0, 0.36);
}
.bg-primary {
  background:#f3f7fb !important ;
  z-index: 99999;
}
.bg-primary .navbar-toggler, .bg-primary .nav-link, .bg-primary .utils-search {
  color: #000;
}
.bg-primary .nav-item:after {
  background: #fff;
}
.bg-dark {
  background: ;
}
.bg-dark .navbar-toggler, .bg-dark .nav-link, .bg-dark .utils-search {
  color: #fff;
}
.bg-light {
  background: #fff;
  z-index: 9999;
}
.bg-light .navbar-toggler, .bg-light .nav-link, .bg-light .utils-search {
  color: ;
}
.bg-transparent {
  background-color: transparent;
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.3)), url(https://images.pexels.com/photos/4492129/pexels-photo-4492129.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=1920);
  background-repeat: no-repeat;
  background-position: center top;
  background-size: cover;
}
.bg-transparent .navbar-toggler, .bg-transparent .nav-link, .bg-transparent .utils-search {
  color: #fff;
}
.bg-transparent .nav-item:after {
  background: #fff;
}
@media (min-width: 992px) {
  /* Common Hover */  .bg-blur {
    -webkit-backdrop-filter: blur(3px);
    backdrop-filter: blur(3px);
    background: rgba(255, 255, 255, 0.6);
    z-index: 999;
  }
  .bg-blur .navbar-toggler, .bg-blur .nav-link, .bg-blur .utils-search {
    color: ;
  }
  .bg-blur .nav-item:hover > .nav-link {
    color: ;
  }
  .bg-blur .nav-item:after {
    background: ;
  }
}
.bg-blur .nav-item:hover > .nav-link {
  color: ;
}
.bg-blur .nav-item:after {
  background: ;
}
.bg-light .nav-item:hover > .nav-link, .bg-light-2 .nav-item:hover > .nav-link, .bg-dark .nav-item:hover > .nav-link {
  color: ;
}
.bg-light .nav-item:after, .bg-light-2 .nav-item:after, .bg-dark .nav-item:after {
  background: ;
}
.bg-light-2 {
  background: #fff;
  /* Dropdown CSS */
}
.bg-light-2 .navbar-toggler, .bg-light-2 .nav-link, .bg-light-2 .utils-search {
  color: ;
}
.bg-light-2 .nav-item:after {
  display: none;
}
.nav-item .dropdown {
  width: 200px;
  display: block;
  position: absolute;
  top: 35px;
  transition: 300ms;
  padding: 10px;
  opacity: 0;
  visibility: hidden;
  transform: translateY(5px);
  border-top: 1px solid rgba(0, 0, 0, 0.15);
  background: #fff;
  border-radius: 4px;
  z-index: 999;
  box-shadow: 0 5px 5px 0px rgba(0, 0, 0, 0.15);
}
.nav-item .dropdown .nav-link {
  color: ;
}
.nav-item .dropdown .dropdown {
  top: 0;
  left: calc(100% + 20px);
  border-top: 0;
  border-left: 1px solid rgba(0, 0, 0, 0.15);
}
.nav-item .dropdown .dropdown:before {
  top: 10px;
  left: -10px;
  border: 5px solid transparent;
  border-right-color: #000;
}
.nav-item .dropdown:before {
  content: "";
  position: absolute;
  top: -10px;
  left: 10px;
  border: 5px solid transparent;
  border-bottom-color: #000;
  display: none;
}
.nav-item .dropdown .nav-item:not(:last-child) {
  margin-bottom: 5px;
}
.nav-item .dropdown > .nav-item:hover > .nav-link {
  color: ;
}
.nav-item:hover > .dropdown {
  opacity: 1;
  visibility: visible;
  transform: translateY(0px);
}
.nav-item:hover > a::before {
  transform: rotate(90deg);
}
.nav-close {
  margin-left: auto;
  margin-top: 10px;
  display: none;
}
.nav-close .btn-nav-close {
  border: 0;
  outline: 0;
  background: transparent;
  font-size: 2.5rem;
  cursor: pointer;
  width: 30px;
  height: 30px;
  border: 1px solid ;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.nav-close .btn-nav-close .close-btn {
  transform: rotate(45deg);
}
.nav-close .btn-nav-close:hover, .nav-close .btn-nav-close:focus {
  background: ;
  color: #fff;
}
.nav-item.icon {
  /* Responsive (navbar alignments options) */
}
.nav-item.icon > a:before {
  content: "";
  position: absolute;
  right: 3px;
  top: calc(50% + 0px);
  transform: translateY(-50%);
  border: 4px solid transparent;
  border-left-color: inherit;
  transition: 0.15s linear;
}
.nav-item.icon:hover > a::before {
  transform: rotate(90deg);
}
@media (min-width: 992px) {
  /* Nav Option (Logo Center) */  .navbar-brand, .navbar-utils {
    flex: auto;
  }
  .navbar-nav {
    flex: 2;
    justify-content: center;
  }
  .navbar-utils {
    text-align: right;
  }
  .navbar-right .navbar-brand, .navbar-right .navbar-utils {
    flex: initial;
  }
  .navbar-right .navbar-nav {
    justify-content: flex-end;
    margin-right: 20px;
  }
  .navbar-left .navbar-nav {
    order: 1;
    justify-content: flex-start;
  }
  .navbar-left .navbar-brand {
    order: 2;
  }
  .navbar-left .navbar-utils {
    order: 3;
  }
  .navbar-right .dropdown .dropdown {
    left: unset;
    right: calc(100% + 20px);
    border-top: 0;
    border-right: 1px solid rgba(0, 0, 0, 0.15);
  }
}
@media (min-width: 992px) {
  /* Responsive navbar */  .navbar-left .navbar-brand {
    text-align: right;
  }
  .navbar-left .navbar-toggler {
    display: block;
    margin-right: 0;
  }
  .navbar-left .navbar-nav {
    background: #fff;
    flex-direction: column;
    z-index: 99999;
    padding: 0 20px;
    opacity: 0;
    /* Sidebar */
    transition: 400ms ease;
    position: fixed;
    left: 0;
    top: 0;
    width: 300px;
    height: 100%;
    overflow-y: auto;
    box-shadow: 0px 0px 0 2000px rgba(0, 0, 0, 0.5);
    transform: translateX(-300px);
  }
  .navbar-left .navbar-nav .nav-link {
    margin: 10px 0;
    color: ;
    display: flex;
    align-items: center;
  }
  .navbar-left .navbar-nav > .nav-item:first-child {
    margin-top: 20px;
  }
  .navbar-left .navbar-nav > .nav-item:last-child {
    margin-bottom: 20px;
  }
  .navbar-left .navbar-nav .nav-item:not(:last-child) {
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  }
  .navbar-left .navbar-nav .nav-item:hover > .nav-link {
    color: ;
  }
  .navbar-left .navbar-nav > .nav-item:after {
    display: none;
  }
  .navbar-left .navbar-nav .nav-close {
    display: block;
  }
  .navbar-left .navbar-nav.active {
    max-height: initial;
    opacity: 1;
    transform: translateX(0);
    left: 0;
    box-shadow: 0 0 0 10000px #000;
  }
  .navbar-left .nav-item .dropdown {
    padding: 0;
    position: initial;
    max-height: 0;
    width: initial;
    border: none;
    box-shadow: none;
  }
  .navbar-left .nav-item .dropdown .dropdown {
    border: none;
  }
  .navbar-left .nav-item .dropdown:before {
    display: none;
  }
  .navbar-left .nav-item:hover > .dropdown {
    opacity: 1;
    visibility: visible;
    transform: translateY(0px);
    max-height: initial;
  }
  .navbar-left .nav-item.icon a:before {
    top: unset;
    right: 0;
  }
}
@media (max-width: 991px) {
  /* Search Popup */  .navbar-toggler {
    display: block;
  }
  .navbar-nav {
    background: #fff;
    flex-direction: column;
    z-index: 99999;
    padding: 0 20px;
    opacity: 0;
    /* Sidebar */
    transition: 400ms ease;
    position: fixed;
    left: -300px;
    top: 0;
    width: 300px;
    height: 100%;
    overflow-y: auto;
    transform: translateX(-300px);
  }
  .navbar-nav .nav-link {
    margin: 10px 0;
    color: ;
    display: flex;
    align-items: center;
  }
  .navbar-nav > .nav-item:first-child {
    margin-top: 20px;
  }
  .navbar-nav > .nav-item:last-child {
    margin-bottom: 20px;
  }
  .navbar-nav .nav-item:not(:last-child) {
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  }
  .navbar-nav .nav-item:hover > .nav-link {
    color: ;
  }
  .navbar-nav > .nav-item:after {
    display: none;
  }
  .navbar-nav .nav-close {
    display: block;
  }
  .navbar-nav.active {
    max-height: initial;
    opacity: 1;
    transform: translateX(0);
    left: 0;
    box-shadow: 0px 0px 0 10000px rgba(0, 0, 0, 0.5);
  }
  .nav-item .dropdown {
    padding: 0;
    position: initial;
    max-height: 0;
    width: initial;
    border: none;
    box-shadow: none;
  }
  .nav-item .dropdown .dropdown {
    border: none;
  }
  .nav-item .dropdown:before {
    display: none;
  }
  .nav-item:hover > .dropdown {
    opacity: 1;
    visibility: visible;
    transform: translateY(0px);
    max-height: initial;
  }
  .nav-item.icon a:before {
    top: unset;
    right: 0;
    transform: translateY(0px);
  }
}
.search-popup {
  opacity: 0;
  visibility: hidden;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 999999;
  display: grid;
  place-items: center;
  box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.5);
  transition: 200ms;
}
.search-popup.active {
  opacity: 1;
  visibility: visible;
}
.search-popup.active form {
  transform: translateY(0px);
}
.search-popup form {
  position: absolute;
  background: #fff;
  width: 500px;
  height: 200px;
  display: grid;
  place-items: center;
  padding: 30px;
  border-radius: 6px;
  box-shadow: 0px 5px 10px 5px rgba(0, 0, 0, 0.2);
  transition: 300ms;
  transform: translateY(20px);
}
.search-popup .btn-search-close {
  position: absolute;
  top: 5px;
  right: 5px;
  background: transparent;
  border: 0;
  outline: 0;
  font-size: 3rem;
  cursor: pointer;
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.search-popup .btn-search-close .close-btn {
  transform: rotate(45deg);
}
.search-popup input[type="search"] {
  width: 100%;
  height: 70px;
  border: none;
  outline: none;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 2rem;
  font-weight: 300;
  padding: 0px 10px;
  transition: 100ms;
}
.search-popup input[type="search"]:focus {
  box-shadow: 0 0 0 3px rgba(0, 129, 255, 0.43);
  border-color: transparent;
}
.search-popup input[type="search"]::-webkit-input-placeholder {
  color: #b3b3b3;
}
@media (max-width: 576px) {
  .search-popup form {
    width: calc(100% - 30px);
    height: 170px;
    padding: 15px;
  }
}

.navbar-nav{ display: flex;
    grid-gap: 40px;
;
}
/*upward*/

.menu--main {
  display: block;
  position: absolute;
  bottom: 0;background:#000;color:#fff;
}
.menu--main li {
  display: inline-block;
  position: relative;
  cursor: pointer;
  padding: 15px 20px;
  background-color: ;
  margin-right: -4px;white-space:nowrap;
}
.menu--main li:hover {
  background-color: ;
}
.menu--main li:hover .sub-menu {
  max-height: 300px;
  visibility: visible;text-align:justify;
  bottom: 100%;
  transition: all 0.4s linear;
}
.menu--main .sub-menu {
  display: block;
  visibility: hidden;
  position: absolute;text-align:justify;
  left: 0;
  box-shadow: none;
  background-color:grey;
  max-height: 0;
  width: 150px;
  overflow: hidden;
}
.menu--main .sub-menu li {
  display: block;text-align:justify;
}